* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #00b894, #0984e3);
  color: #333;
  flex-direction: column;
}
#heading1 {
  font-family: "Righteous", sans-serif;
  font-size: 3rem;
  color: #074276;
}
#codeInput {
  padding: 1.2rem;
  font-size: 1rem;
  width: 23rem;
  border: 2px solid #211996;
  border-radius: 1rem;
  margin: 0.5rem 1rem;
}
#codeInput:focus {
  padding: 1.2rem;
  font-size: 1rem;
  width: 23rem;
  background-color: rgb(223, 224, 226);
  border: 2px solid #211996;
  box-shadow: 0px 0px 12px #565af1;
  border-radius: 1rem;
  outline: none;
  margin: 0.5rem 1rem;
}
#btn1 {
  padding: 0.6rem 2em;
  color: #ffffff;
  font-size: 1rem;
  background-color: #074276;
  border: 2px solid #211996;
  border-radius: 0.7rem;
  margin: 2rem 1rem;
}

@media (width: 320px) {
  #heading1 {
    font-family: "Righteous", sans-serif;
    font-size: 92px;
    color: #074276;
  }
  #codeInput {
  }
  #codeInput:focus {
  }
  #btn1 {
  }
}
